.spinner-border{
    margin-right: 6px;
}

i{
    margin-right: 6px;
    margin-left: 6px;
}

.btn{
    display: inline-flex;
    border-radius: 0px;
    align-items: center;
    margin-right: 5px;
    margin-top: 5px;;
}

.btn:hover{
    opacity: 0.8;
    transition-delay: 20s;
}

.btn-defesa{
    width: 9.0rem;
    background-color: rgb(172, 205, 224);
    margin-right: -3px;
}