footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    background-color: #dbdada;
    font-size: 12px;
    padding-bottom: 13px;
    padding-top: 10px;
    color: rgb(0, 0, 0);
}

.pi-heart-fill{
    color: rgb(189, 38, 38);
}

.copyright{
    text-align: left;
    justify-content: flex-end;
}

.developer{
    text-align: right;
    justify-content: flex-start;
}